<div class="container" data-ng-init="updateProductInit()">
    <form>
        <div class="form-group">
            <label for="designation">Designation:</label>
            <input type="text" id="designation" class="form-control" value="{{product.designation}}" data-ng-model="product.designation" autofocus/>
        </div>
    
        <div class="form-group">
            <label for="unit-price">Unit Price</label>
            <input type="number" step="0.01" min="0" id="unit-price" class="form-control" value="{{product.unitPrice}}" data-ng-model="product.unitPrice"/>
        </div>
    
        <div class="form-group">
            <label for="available-quantity">Available Quantity</label>
            <input type="number" min="0" id="available-quantity" class="form-control" value="{{product.availableQuantity}}" data-ng-model="product.availableQuantity"/>
        </div>
    
        <div class="form-group">
            <button type="submit" class="form-control btn btn-secondary" data-ng-click="updateProduct(product)">Update Product</button>
        </div>
    </form>
</div>