<div class="container-fluid">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Designation</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Available Quantity</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>anim</td>
                    <td>300.68</td>
                    <td>24</td>
                    <td>
                        <i class="fas fa-fw fa-edit"></i>
                        <i class="fas fa-fw fa-trash-alt"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>deserunt</td>
                    <td>1,983.43</td>
                    <td>1935</td>
                    <td>
                        <i class="fas fa-fw fa-edit"></i>
                        <i class="fas fa-fw fa-trash-alt"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>deserunt</td>
                    <td>356.98</td>
                    <td>3831</td>
                    <td>
                        <i class="fas fa-fw fa-edit"></i>
                        <i class="fas fa-fw fa-trash-alt"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ./table-responsive -->
</div>
<!-- /.container-fluid -->